.CocktailDb-heading {
  color: rgb(255, 192, 203);
}

.CocktailDb-searchbar {
  width: 13rem;
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
}

.CocktailDb-button {
  border-radius: 0.25rem;
  background-color: rgb(255, 255, 255);
  width: 1.7rem;
}

/* searchIcon center */
.svg-inline--fa {
  vertical-align: middle;
}
