.CocktailDb-heading {
  color: rgb(255, 192, 203);
  padding: 0.8rem;
}

.CocktailDb-searchbar {
  width: 13rem;
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
  height: 1.5rem;
}

.CocktailDb-button {
  border-radius: 0.25rem;
  background-color: rgb(255, 255, 255);
  width: 1.7rem;
}

/* searchIcon center */
.svg-inline--fa {
  vertical-align: middle;
  padding: 0.15rem;
  cursor: pointer;
  height: 1rem;
}
