.MoreResults section {
  height: auto;
  max-width: 600px;
}

.MoreResults-ingredients {
  font-size: 0.75em;
  margin: 0 auto;
}

.MoreResults-instructions {
  font-size: 0.75em;
  padding: 0.5em;
  margin-top: 0.25em;
}
