.MoreCocktail-heading {
  color: pink;
}

.MoreCocktail-searchbar {
  width: 13em;
  border-radius: 0.25em;
  margin-bottom: 0.25em;
}

.MoreCocktail-button {
  border-radius: 0.25em;
  background-color: white;
}
