/* Random Heading */
.Random-heading {
  color: pink;
}

/* Random Button */
.Random button {
  border-radius: 1em;
  margin: 0.5em;
  font-size: 2em;
  transition: 2s;
  background-color: black;
  color: pink;
  border: 0.1em solid pink;
}

.Random button:hover {
  transform: scale(1.2);
  background-color: pink;
  color: black;
}
