/* Random Heading */
.Random-heading {
  color: pink;
}

/* Random Button */
.Random button {
  border-radius: 1rem;
  margin-bottom: 0.2rem;
  font-size: 2rem;
  transition: 2s;
  background-color: black;
  color: pink;
  border: 0.1rem solid pink;
}

.Random button:hover {
  transform: scale(1.2);
  background-color: pink;
  color: black;
}
