.CocktailDb-searchbar {
	width: 14rem;
	border-radius: 0.25rem;
	margin-bottom: 1rem;
	height: 2rem;
	font-family: "Macondo", sans-serif;
	font-size: 1.1rem;
}

.CocktailDb-button {
	border-radius: 0.25rem;
	background-color: rgb(255, 255, 255);
	padding-top: 0.1rem;
	width: 2rem;
}

/* searchIcon center */
.svg-inline--fa {
	vertical-align: middle;
	padding: 0.2rem;
	cursor: pointer;
	height: 1.2rem;
}
