/* Cocktails just for Bar of Liz */

.Cocktail ul {
  font-size: 1em;
  list-style: none;
  padding: 0px;
}

.Cocktail-optional-topping {
  font-size: 0.75em;
  font-weight: lighter;
}

/* Properities for one cocktail which is used for all 3 cocktail bars to overlay the images is shown below */

/* Group ingredients/instructions together, so if any overflow of text, it is taken care of */

.Cocktail-process {
  overflow: auto;
  margin: 0 auto;
}

.Cocktail-instructions {
  font-size: 0.75em;
  padding: 0.75em;
}

.Cocktail-image-drink {
  height: auto;
  width: 100%;
  max-width: 37.5em;
}

.Cocktail-one {
  height: auto;
  font-family: "Macondo", cursive;
  margin: 0.1em auto;
  max-width: 37.5em;
  position: relative;
}

.Cocktail-drink-name {
  color: pink;
  font-family: "Sail", cursive;
  font-size: 1.5em;
  padding: 0;
}

.Cocktail-image-overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s;
  top: 0;
  text-align: center;
  width: 100%;
}

.Cocktail-image-overlay:hover {
  opacity: 1;
}
