.App {
  text-align: center;
  background-color: black;
  color: pink;
  font-family: "Sail", cursive;
}

.App-nav {
  max-width: 25rem;
  margin: 0 auto;
  font-size: 1.1rem;
  display: inline-block;
}

/* My cocktail's - Bar of Liz */
.App-link-liz {
  border: 0.05rem solid rgb(245, 202, 209);
  border-radius: 3rem;
  text-decoration: none;
  padding: 0.3rem;
  color: pink;
  display: inline-block;
  margin-bottom: 0.2rem;
}

.App-link-liz:hover {
  background-color: pink;
  color: black;
}

/* CocktailDb cocktails - Bar of CocktailDb */
.App-link-db {
  border: 0.05rem solid pink;
  border-radius: 3rem;
  text-decoration: none;
  padding: 0.25rem;
  color: pink;
  display: inline-block;
  margin-bottom: 0.2rem;
}

.App-link-db:hover {
  background-color: pink;
  color: black;
}

/* Bar of random */
.App-link-random {
  border: 0.05rem solid pink;
  border-radius: 3rem;
  text-decoration: none;
  padding: 0.25rem;
  color: pink;
  display: inline-block;
  margin-bottom: 0.2rem;
}

.App-link-random:hover {
  background-color: pink;
  color: black;
}

/* mobile media queries */
@media only screen and (max-width: 480px) {
  h1 {
    display: none;
  }

  .App-nav {
    padding-top: 10px;
    font-size: 0.8rem;
  }
}
