.App {
  text-align: center;
  font-size: 1.2em;
  background-color: black;
  color: pink;
  font-family: "Sail", cursive;
}

.App-nav {
  max-width: 600px;
  margin: 0 auto;
  font-size: 0.75em;
}

/* My cocktail's - Bar of Liz */
.App-link-liz {
  border: 0.1em solid pink;
  border-radius: 3em;
  text-decoration: none;
  padding: 0.25em;
  color: pink;
  display: inline-block;
  margin-bottom: 0.2em;
}

.App-link-liz:hover {
  background-color: pink;
  color: black;
}

/* CocktailDb cocktails - Bar of CocktailDb */
.App-link-db {
  border: 0.1em solid pink;
  border-radius: 3em;
  text-decoration: none;
  padding: 0.25em;
  color: pink;
  display: inline-block;
  margin-bottom: 0.2em;
}

.App-link-db:hover {
  background-color: pink;
  color: black;
}

/* Bar of random */
.App-link-random {
  border: 0.1em solid pink;
  border-radius: 3em;
  text-decoration: none;
  padding: 0.25em;
  color: pink;
  display: inline-block;
  margin-bottom: 0.2em;
}

.App-link-random:hover {
  background-color: pink;
  color: black;
}
