/* Cocktails just for Bar of Liz */
.Cocktail {
  text-align: center;
  color: pink;
  border-radius: 2px;
  max-width: 100%;
}

.Cocktail ul {
  padding: 0px;
  list-style: none;
  font-size: 18px;
}

.Cocktail section {
  max-width: 700px;
  height: auto;
}

.Cocktail-optional-topping {
  font-size: 15px;
  font-weight: lighter;
}

.Cocktail-process {
  font-size: 13px;
}

/* Properities for one cocktail which is used for all 3 cocktail bars to overlay the images */
.Cocktail-drink-name {
  color: pink;
  font-size: 25px;
  padding: 0;
}

.Cocktail-image-drink {
  height: auto;
  width: 100%;
}

.Cocktail-one {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}

.Cocktail-image-overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s;
  top: 0;
  text-align: center;
  width: 100%;
}

.Cocktail-image-overlay:hover {
  opacity: 1;
}
