.Cocktail {
  text-align: center;
  background: linear-gradient(135deg, black, rgb(138, 126, 126), black);
  color: blanchedalmond;
  border-radius: 2px;
  max-width: 100%;
}

.Cocktail ul {
  padding: 0px;
  list-style: none;
  font-size: 15px;
}

.Cocktail section {
  max-width: 500px;
  border: 1px solid white;
}

.Cocktail-drink-name {
  color: pink;
  font-size: 30px;
}

.Cocktail-image-drink {
  width: 100%;
  height: auto;
}

.Cocktail-one {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.Cocktail-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  font-family: cursive;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  text-align: center;
}

.Cocktail-image-overlay:hover {
  opacity: 1;
}

.Cocktail-optional-topping {
  font-size: 10px;
  font-weight: lighter;
}
.Cocktail-process {
  font-weight: lighter;
  font-size: 13px;
}
