.MoreResults-instructions {
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
}

.MoreResults section {
  max-width: 700px;
  margin: 0 auto;
  height: auto;
}

.MoreResults-ingredients {
  margin: 0 auto;
  padding: 2px;
  font-size: 14px;
}
