.MoreResults .instructions {
  margin-top: 10px;
  padding: 10px;
}

.MoreResults section {
  border: 2px solid white;
  max-width: 450px;
  margin: 20px auto;
  border-radius: 8px;
}

.MoreResults col-sm-4 {
  margin: 10px;
  background-color: yellow;
}
