.MoreCocktail-heading {
  color: pink;
}

.MoreCocktail-searchbar {
  width: 230px;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 5px;
}

.MoreCocktail-button {
  border-radius: 5px;
  background-color: white;
}
