/* Random Heading */
.Random-heading {
  color: pink;
}

/* Random Button */
.Random button {
  border-radius: 30px;
  margin: 20px;
  font-size: 30px;
  padding: 10px;
  transition: 2s;
  background-color: black;
  color: pink;
  border: 1px solid pink;
}

.Random button:hover {
  transform: scale(1.2);
  background-color: pink;
  color: black;
}
