/* Set default input/text-areas to 100% */
.ModalForm input,
textarea {
	width: 100%;
	display: block;
}

/* Modal Form Pop up */
.ModalForm {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.ModalForm-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	background-color: rgb(255, 209, 217);
	color: black;
}

/* Header/footer */
.ModalForm-header {
	font-size: 2rem;
}

.ModalForm-header,
.ModalForm-footer {
	padding: 1rem;
}

/* Body/Input Content */
.ModalForm-body {
	padding: 1rem;
	border-top: 0.1rem solid black;
	border-bottom: 0.1rem solid black;
	display: flex;
	flex-direction: column;
	width: 25rem;
}

.ModalForm-ingredients {
	width: 100%;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}

.ModalForm input {
	border-radius: 0.3rem;
	padding: 0.5rem;
	margin-bottom: 0.1rem;
	max-width: 25rem;
}

.ModalForm-ingredients input {
	max-width: 40%;
	display: inline-block;
}

/* For all Buttons on the Modal Form */
.ModalForm button {
	border-radius: 0.1rem;
	color: rgb(255, 209, 217);
	background-color: black;
	border: 0.1rem solid rgb(255, 209, 217);
	padding: 0.5rem;
	border-radius: 0.3rem;
	margin-bottom: 0.1rem;
	cursor: pointer;
}

/* mobile media queries */
@media only screen and (min-width: 480px) and (max-width: 790px) {
	.ModalForm-content {
		width: 80%;
	}

	.ModalForm input {
		margin: 0 auto;
		width: 90%;
	}
}

@media only screen and (max-width: 480px) {
	.ModalForm-content {
		width: 90%;
	}

	.ModalForm input {
		margin: 0 auto;
		width: 70%;
	}

	.ModalForm-ingredients input {
		width: 35%;
	}
}
@media only screen and (max-width: 330px) {
	h3 {
		display: none;
	}

	.ModalForm input {
		height: 15px;
		width: 60%;
	}

	.ModalForm-ingredients input {
		width: 250px;
		max-width: 30%;
		margin-bottom: 0.3rem;
		font-size: x-small;
	}

	.ModalForm button {
		padding: 0.1rem;
	}
}
